<div>
  <button mat-icon-button (click)="simpleModel()" class="startModel">
    Simple model
  </button>
  <button mat-icon-button (click)="regressionModel()" class="startModel">
    Regression model
  </button>
  <br>

</div>
<!--<p>-->
<!--<button mat-icon-button *ngIf="currentModel?.model" (click)="(generateSummary())">-->
<!--Get Summary-->
<!--</button>-->
<!--</p>-->
<div *ngIf="summary">

  <h2>Model Summary</h2>

  <pre [innerHTML]="summary"></pre>
</div>
<br>

<div class="chart">
  <canvas #plot1></canvas>
</div>


<div>
  <!--<input id='epochs' type="number" (value)="epochs">-->
  <button mat-icon-button *ngIf="currentModel" (click)="train()">
    Train
  </button>

  <div *ngIf="currentModel?.trained">
    <h3>Model trained</h3>
  </div>

  <div class="chart" >
    <canvas #trainPlot></canvas>
  </div>

  <div *ngIf="currentModel?.trained && currentModel?.loss">Loss: {{currentModel?.loss}} after {{epochs}} epochs</div>
</div>
